# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__

# Ignore virtual environments
venv/
env/

# Ignore IDE and text editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
